.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
    font-size: 18px;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.second-bg {
    background-color: #FFF8F3;
}

.text-center {
    text-align: center;
}

div .header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-top: 10px;
    margin-left: 50px;
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 170px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 172px;
}

.banner-content {
    max-width: 585px;

}

.banner-profile-pic {
    width: 584px;
}

.banner-greetings {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
    margin-top: 0;
    margin-bottom: 0;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about styles */

.about {
    margin-top: 130px;
    text-align: center;
    padding: 131px 157px 131px 156px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
}

.item-title {
    margin-bottom: 1px;
}

.item-description {
    color: #474747;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}

/* skills styles */

.skills {
    margin-top: 130px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 33px;
    width: 267px;
    height: 377px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.section-description {
    max-width: 909px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.skill-title {
    font-weight: bold;
    font-size: 20px;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    width: 204px;
    height: 243px;
}

/* resume styles */

.resume {
    margin-top: 130px;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
}

.resume-container {
    display: flex;
    gap: 71px;
    margin-top: 105px;
}

.resume-column-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.experience {
    width: 511px;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 0px;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 7px;
}

.experience-description {
    font-size: 18px;
    color: #757575;
}

.resume-button {
    margin-top: 50px;
}

/* footer styles */

footer {
    display: flex;
    gap: 117px;
    margin-top: 113px;
    padding: 130px 386px 130px 230px;
}

.footer-column {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
textarea {
    height: 50px;
    padding: 18px 350px 18px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 28px;
    /* margin-bottom: 24px; */
    width: 50%;
}

footer input[type="submit"] {
    margin-top: 24px;
}

footer p {
    font-size: 16px;
    color: #474747;
    width: 562px;
    margin-bottom: 0px;
}

footer div a img {
    margin-right: 24px;
    margin-top: 30px;
}


/* Responsive Media Query */

.hide {
    display: none;
}

@media screen and (max-width: 576px) {

    .banner,
    nav,
    .about-items,
    .skills-container,
    .resume-container,
    footer {
        flex-direction: column;
    }

    nav {
        margin: 0px;
    }

    div .header {
        background-image: none;
        margin-left: 20px;
    }

    .banner {
        margin: 20px;
    }

    .banner-profile-pic {
        width: 100%;
    }
    .btn-primary{
        margin-bottom: 20px;
    }
    .experience {
        width: 100%;
    }
    .resume{
        padding: 10px;
    }
    footer,
    .about {
        padding: 20px;
    }

    footer p {
        width: auto;
    }

    .footer-column {
        width: 100%;
    }

    footer input[type="text"],
    footer input[type="email"],
    textarea {
        width: calc(100% - 40px);
        padding: 0px;
    }
}